<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg6.jpg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Smart solutions for safer world.</h1>
        <div class="text-center">
          <a href="#pablo" class="btn btn-warning btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-warning btn-icon btn-round">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-warning btn-icon btn-round">
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5 class="description">
            At AML Smart Solutions, we have created a fully digital platform
            that optimizes and speeds up the process of verification of the
            business's clients.
          </h5>
        </div>
      </div>
      <div class="separator separator-warning"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div
              class="image-container image-left"
              style="background-image: url('assets/img/login.jpg')"
            >
              <!-- First image on the left side -->
              <p class="blockquote blockquote-warning">
                "The monitoring of business relationships is important and
                obligatory for almost every company. There is a huge increase in
                it, and the forecast for the next years is favorable to make
                investments in the area. "
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div
              class="image-container"
              style="background-image: url('assets/img/bg3.jpg')"
            ></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div
              class="image-container image-right"
              style="background-image: url('assets/img/bg1.jpg')"
            ></div>
            <h3>
              So what is the main problem and why we need to pay extra attention
              to our customer screening
            </h3>
            <p>
              Sanctions screening is a top challenge for many organizations.
              Firms that continue to do business with sanctioned governments,
              legal entities, or individuals face substantial fines. But
              financial consequences are not the only concern. Global investors
              and citizens demand genuine corporate social responsibility and
              are quick to distance themselves from firms that don't measure up.
            </p>
            <p>
              The customer identity management area, which includes sanction
              screening of the clients, is one of the most expanded sectors
              throughout the years. As we see from the graph, there is a new
              sanction that applies to businesses every day, and companies need
              to prepare internal procedures and mechanisms to prevent getting
              into business relationships with clients that can be listed into
              sanction lists.
            </p>
            <p>
              Our business plan is focused on targeting small to medium-sized
              financial institutions that are struggling to keep up with the
              ever-changing compliance landscape. We plan to achieve this by
              leveraging our expertise and technology to offer cost-effective
              solutions that are tailored to each institution's specific needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Meet our team</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/Ivan.png"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Ivan Kolev</h4>
              <p class="category text-warning">Legal</p>
              <p class="description">
                Detail-oriented Legal advisor with experience in Payments, Legal
                and compliance, AML, KYC, Corporate Law, and Debt Collection,
                skilled in Legal and compliance processes and FinTech industry.
              </p>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-facebook-square"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/Iskren.png"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Iskren Ivanov</h4>
              <p class="category text-warning">Developer</p>
              <p class="description">
                Communicative and enthusiastic Full Stack Developer with 6+
                years of commercial experience, skilled in finding creative
                solutions to complicated problems of any scope.
              </p>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/Dimitar.png"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Dimitar Tsvetkov</h4>
              <p class="category text-warning">Developer</p>
              <p class="description">
                IT specialist with a legal background and expertise in complex
                regulatory frameworks, providing innovative solutions to bridge
                the gap between technology and law.
              </p>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="#pablo" class="btn btn-warning btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us text-center">
    <form class="container" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <h2 class="title">Want to work with us?</h2>
      <p class="description">Our friendly team will love to hear from you!</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <input
              formControlName="from_name"
              type="text"
              class="form-control"
              placeholder="Name"
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div>
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus1 === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons ui-1_email-85"></i>
              </span>
            </div>
            <input
              formControlName="from_email"
              type="text"
              class="form-control"
              placeholder="Email Address"
              (focus)="focus1 = true"
              (blur)="focus1 = false"
            />
          </div>
          <div class="textarea-container">
            <textarea
              formControlName="message"
              class="form-control"
              name="message"
              rows="4"
              cols="80"
              placeholder="Your message goes here"
            ></textarea>
          </div>

          <div
            *ngIf="from_name.invalid && (from_name.dirty || from_name.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="from_name.errors?.['required']">Name is required.</div>
            <div *ngIf="from_name.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
          </div>
          <div
            *ngIf="
              from_email.invalid && (from_email.dirty || from_email.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="from_email.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="from_email.errors?.['email']">
              Email must be a valid email address.
            </div>
          </div>
          <div
            *ngIf="message.invalid && (message.dirty || message.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="message.errors?.['required']">Message is required.</div>
            <div *ngIf="message.errors?.['minlength']">
              Name must be at least 10 characters long.
            </div>
          </div>
          <button
            *ngIf="!isLoading; else loadingButton"
            [ngStyle]="emailForm.invalid ? { 'pointer-events': 'none' } : null"
            class="btn btn-warning btn-round btn-block btn-lg"
            type="submit"
            [disabled]="emailForm.invalid"
          >
            Send Message
          </button>

          <ng-template #loadingButton>
            <button
              class="btn btn-warning btn-round btn-block btn-lg"
              type="submit"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Sending...
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>

  <ng-template #conformationModal let-c="close">
    <div class="modal-header">
      <h5 class="modal-title text-center">Messge has been sent!</h5>
    </div>
    <div class="modal-body">
      Thank you for the interest in our solutions ! Your email has been sent
      successfully, we will promptly contact you and provide a response to your
      request.
    </div>
    <div class="modal-footer">
      <div>
        <button
          type="button"
          class="btn btn-warning"
          (click)="c('Close click')"
        >
          Close
        </button>
      </div>
    </div>
  </ng-template>

  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href=""> About Us </a>
          </li>
          <li>
            <a href=" "> Blog </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        Copyright &copy;
        {{ data | date : "yyyy" }} AML Smart Solutions Ltd.
      </div>
    </div>
  </footer>
</div>
